@{
         ViewData["Title"]="新增工令";
        @using System.Data;
        DataTable Product_dt = (DataTable)ViewData["Product_Table"];
        DataTable Process_Table = (DataTable)ViewData["Process_Table"];
    }      
<div class="form-group">
        <label >工令編號</label>&nbsp;<span id="order-span" style="color:red;display:none">*工令編號不可為空</span>
        <input  class="form-control" id="order" value=@ViewData["OrderID"] disabled="disabled">
      </div>
      <div class="form-group">
        <label >產品代號</label>&nbsp;<span id="product-id-span" style="color:red;display:none">*產品代號必須選擇</span>
        <select class="custom-select" id="product-id">
          <option selected>請選擇產品代號</option>          
          @for(int i=0;i<Product_dt.Rows.Count;i++)
          {
              <option value=@Product_dt.Rows[i][0]>@Product_dt.Rows[i][0]</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label >產品名稱</label>
        <input  class="form-control" id="productname" disabled="disabled" />
      </div>
      <div class="form-group form_img" style="text-align:center ;display:none">
          <img src="" class="img-rounded" alt="Cinque Terre" width="560" height="300">
      </div>
        <div class="form-group">
        <label >總數量</label>&nbsp;<span id="quantity-span" style="color:red;display:none">*總數量不可為空</span>
        <input  class="form-control" id="quantity"/>
      </div>
        <div class="form-group">
        <label >使用時數(小時)</label>
        <span id="CT" style="display:none"></span>
        <input  class="form-control" id="time" value="0" disabled="disabled" />
      </div>      
      <!-- <div class="form-group">
        <label >道次流程</label>&nbsp;<span id="process-id-span" style="color:red;display:none">*道次流程必須選擇</span>
        <select class="custom-select" id="process-id">
            <option selected>請選擇道次流程</option>          
            @for(int i=0;i<Process_Table.Rows.Count;i++)
            {
              <option value=@Process_Table.Rows[i][0]>@Process_Table.Rows[i][0]</option>
            }
          </select>
        </div>   -->
        <div class="form-group">
            <label >開始日期</label>&nbsp;<span id="st-date-span" style="color:red;display:none">*開始日期不可為空</span>
            <input type="date"  class="form-control" id="st_date" disabled="disabled"  style="width:500px"/>
        </div>
        <div class="form-group">
            <label >結束日期</label>&nbsp;<span id="end-date-span" style="color:red;display:none">*結束日期不可為空</span>
            <input type="date"  class="form-control" id="end_date" style="width:500px"/>
      </div>  
      <div style="text-align:center">
          <button type="button" id="Data_Insert_btn" class="btn btn-secondary btn-lg" style="width:150px">送出</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" id="Data_Clear_btn" class="btn btn-secondary btn-lg" style="width:150px">清除</button>
      </div>     
      
      <script>      
          var date = new  Date();
          var today_date = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
          document.getElementById("st_date").value = today_date;
          $("#product-id").change(function () {
              var checkText = $("#product-id").find("option:selected").text();
              judge("product-id-span",checkText,"*產品代號必須選擇");
              var productid = document.getElementById("product-id").value;
              $.ajax(
                  {
                      url: "@Url.Action("Get_ProductName","Home")",
                      method: "get",
                      contentType: 'application/json',                                                                                 
                      data:
                        {                          
                            productid: productid
                        },                      
                      //dataType:"text",                      
                      success: function (data) {        
                          console.log(data);                                             
                          var result = JSON.parse(data);                                 
                          var quantity = document.getElementById("quantity").value;                          
                          /*$.each(result, function (i, item) {
                              //console.log(i+'\t'+item+'\t'+result.productname+'\t'+result.producttime);
                              document.getElementById("productname").value = item.productname;                              
                              document.getElementById("CT").innerHTML = item.producttime; 
                          }); */
                          document.getElementById("productname").value = result.productname;                              
                          document.getElementById("CT").innerHTML = result.producttime; 
                          if (quantity != '0') {
                              document.getElementById("time").value = (document.getElementById("CT").innerHTML*quantity);
                          } else {
                              document.getElementById("time").value = 0;
                          }
                          if(result.productname != ''){
                                if(result.productname=='T91' || result.productname == 'T94'){
                                    $("img").attr("src","/product_img/"+result.productname+".png");
                                }else{
                                    $("img").attr("src","/product_img/Other.png");
                                }
                                $(".form_img").show();
                          }else{
                                $(".form_img").hide();
                          }                          
                      }, error: function (d) {
                                  /*console.log("error");*/
                                     $.alert({
                                            icon:"fas fa-exclamation-triangle",
                                            title: "連線失敗",
                                            content: "404. Please wait until the File is Loaded.",
                                        });
                                  //alert("404. Please wait until the File is Loaded.");
                              }
                  });
          });
        
        $("#order").on('input', function () {
              var order = document.getElementById('order').value;
              judge("order-span", order,"*工令編號不可為空");
          });

        $("#quantity").on('input', function () {                    
              this.value = this.value.replace(/[^\d]/g, '').replace(/^0{1,}/g, '');
              var productname = document.getElementById("productname").value
              var quantity = document.getElementById("quantity").value;      
              var time = document.getElementById("CT").innerHTML;
              if (productname != '' && quantity != '' && time != '') {
                  document.getElementById("time").value = (quantity * time).toFixed(1);
              }
              else {
                  document.getElementById("time").value = 0;
              }
              judge("quantity-span", quantity,"*總數量不可為空");
          });
          
        //ubuntu無法使用keyup
        /* 
          $("#order").on('keyup', function () {   
              var order = document.getElementById('order').value;
              judge("order-span", order);
          });

          $("#quantity").on('keyup', function () {                    
              this.value = this.value.replace(/[^\d]/g, '').replace(/^0{1,}/g, '');
              var productname = document.getElementById("productname").value
              var quantity = document.getElementById("quantity").value;      
              var time = document.getElementById("CT").innerHTML;
              if (productname != '' && quantity != '' && time != '') {
                  document.getElementById("time").value = (quantity * time).toFixed(1);
              }
              else {
                  document.getElementById("time").value = 0;
              }
              judge("quantity-span", quantity);
          });
        */

          $("#process-id").change(function(){
               var checkText = $("#process-id").find("option:selected").text();
               judge("process-id-span",checkText,"*產品道次必須選擇");
          });

          $("#st_date").change(function () {
              var st_date = $("#st_date").val();
              var end_date = $("#end_date").val();                            
              var today = Date.parse(today_date).valueOf();              
              //if (end_date != '') {
                  var st = Date.parse(st_date).valueOf();
                  var end = Date.parse(end_date).valueOf();
                  if (st > end && end !=0) {
                      //alert('開始日期不可以大於結束日期');
                      judge("st-date-span", st_date,"*開始日期不可以大於結束日期",false);
                      document.getElementById("st_date").value = '';
                      //$("#st_date").val('');
                  }
                  else if(st<today){
                      //alert('開始日期不可以小於當日時間');
                      judge("st-date-span", st_date,"*開始日期不可以小於當日時間",false);
                      document.getElementById("st_date").value = '';
                  }
                  else{
                      judge("st-date-span", st_date,"*開始日期不可為空");
                  }
              //}
              //judge("st-date-span", st_date);
          });

          $("#end_date").change(function () {
              var st_date = $("#st_date").val();
              var end_date = $("#end_date").val();
              var today = Date.parse(today_date).valueOf();
              //if (st_date != '') {
                  var st = Date.parse(st_date).valueOf();
                  var end = Date.parse(end_date).valueOf();
                  if (st > end && st!=0) {
                      //alert('開始日期不可以大於結束日期');
                      judge("end-date-span", end_date,"*結束日期不可以小於開始日期",false);
                      document.getElementById("end_date").value = '';
                      //$("#end_date").val('');
                  }
                  else if(end<today){
                      //alert('結束日期不可以小於當日時間');
                      judge("end-date-span", end_date,"*結束日期不可以小於當日時間",false);
                      document.getElementById("end_date").value = '';
                  }
                  else{
                      judge("end-date-span", end_date,"*結束日期不可為空");
                  }
              //}
              //judge("end-date-span", end_date);
          });

          $('#Data_Insert_btn').on('click', function () {
              var order = document.getElementById("order").value;
              var productid = document.getElementById("product-id").value;
              var productname = document.getElementById("productname").value;
              var quantity = document.getElementById("quantity").value;
              var time = document.getElementById("time").value;
              //var processid = document.getElementById("process-id").value;
              var st_date = document.getElementById("st_date").value;
              var end_date = document.getElementById("end_date").value;    
              if (order != '' && productid != '請選擇產品代號' && productname != '' && quantity != '' && time != '0' && st_date != '' && end_date != '' ) {
                  $.confirm({
                        title: "資料確認",
                        content: "請確認資料是否正確:<br>" +
                      "工令編號:" + order + "<br>產品代號:" + productid + "<br>產品名稱:" + productname + "<br>總數量:" + quantity + "<br>使用時數:" + time +"<br>開始日期:" + st_date + "<br>結束日期:" + end_date,
                        buttons: {
                            "新增": function () {
                                $.ajax(
                                {
                                    url: "@Url.Action("Insert_Order_Data","Home")",
                                    method: "get",
                                    contentType: 'application/json',                                                           
                                    data:
                                    {                                  
                                        order: order,
                                        productid: productid,
                                        productname:productname,
                                        quantity: quantity,
                                        time: time,
                                        //processid:processid,
                                        st_date: st_date,
                                        end_date:end_date
                                    },
                                    //dataType: "text",
                                    success: function (data) {
                                        $.alert({
                                            title: "新增結果",
                                            content: data.split(",")[0],
                                        });
                                        //alert(data.split(",")[0]);
                                        document.getElementById("order").value = data.split(",")[1];
                                    }, error: function (d) {
                                        /*console.log("error");*/
                                        $.alert({
                                            icon:"fas fa-exclamation-triangle",
                                            title: "新增失敗",
                                            content: "404. Please wait until the File is Loaded.",
                                        });
                                        //alert("404. Please wait until the File is Loaded.");
                                    }
                                });                      
                                document.getElementById("product-id").value = '請選擇產品代號';
                                document.getElementById("productname").value = '';
                                document.getElementById("quantity").value = '';
                                document.getElementById("time").value = 0;
                                //document.getElementById("process-id").value = '請選擇道次流程';
                                //document.getElementById("st_date").value = '';
                                document.getElementById("end_date").value = '';
                                $(".form_img").hide();
                                $("span[id!='CT']").hide();
                            },
                            "取消": function () {                        
                            }
                        }
                    });                  
              }
              else {
                  $.alert({
                        icon:"fas fa-exclamation-triangle",
                        title: "資料尚未填寫完成",
                        content: "有資料尚未填寫完成,請確認.",
                    });
              }

          });

          $("#Data_Clear_btn").on('click', function () {                                              
              //document.getElementById("order").value = '';
              document.getElementById("product-id").value = '請選擇產品代號';
              document.getElementById("productname").value = '';
              document.getElementById("quantity").value = '';
              document.getElementById("time").value = 0;
              //document.getElementById("process-id").value = '請選擇道次流程';
              //document.getElementById("st_date").value = '';
              document.getElementById("end_date").value = '';
              $(".form_img").hide();
              $("span[id!='CT']").hide();
          });          

          function judge(id,val,content,flag=true) {
              if (val == '' || val == '請選擇產品代號'  || val=='請選擇道次流程') {                       
                  $("span[id=" + id + "]").text(content);             
                  $("span[id=" + id + "]").show();
              }
              else if(val != '' && flag==false && (id=='st-date-span' || id=='end-date-span')){
                  $("span[id=" + id + "]").text(content);             
                  $("span[id=" + id + "]").show();
              } 
              else {
                  $("span[id=" + id + "]").hide();
              }
          }
      </script>